<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526244443879-5li0aap495epj1svlskb31jvcihgoaoh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526244443879-5li0aap495epj1svlskb31jvcihgoaoh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>526244443879-6v1g602jbpha6hkh7bdlco6qqn1dojso.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDAZaF1aFfidhsdEbEHgqFND9G2Uni1bzs</string>
	<key>GCM_SENDER_ID</key>
	<string>526244443879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hafidomiosapplication.app</string>
	<key>PROJECT_ID</key>
	<string>auricurrus</string>
	<key>STORAGE_BUCKET</key>
	<string>auricurrus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526244443879:ios:ef9b06e6af164b7bc61442</string>
</dict>
</plist>